@import "./_variables";

.breadcrumb {
  margin-bottom: 0;
  padding-left: 3%;
  padding-right: 3%;
  background-color: $accent;

  .breadcrumb-item {
    & + .breadcrumb-item::before {
      content: "›";
      color: #fff;
    }

    & > a {
      transition: all 0.3s ease 0s;
      color: white;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  .breadcrumb-item.active > a {
    color: $primary;
  }
}
