@import "./_variables";

.card {
  &.offer {
    position: relative;
    background-color: $cardBackground;
    // box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: $cardRadius;
    color: $cardColor !important;
    border: none;

    img {
      border-radius: $cardRadius;
    }

    .badge {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .remove-btn {
      position: absolute;
      top: 1rem;
      left: 1rem;
      border-radius: $cardRadius;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
