$light: #f8f9fa;
$primary: #28a745;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    margin: 0;
  }

  #root {
    width: inherit;
    height: inherit;
    background-color: inherit;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
  ::selection {
    background: $primary;
    color: #fff;
  }
  ::-moz-selection {
    background: $primary;
    color: #fff;
  }

  .btn {
    &:focus {
      box-shadow: none !important;
    }
  }

  .badge {
    padding: 0.5rem 1rem !important;
    border-radius: 8px;
  }

  .form-group {
    .form-label {
      margin-bottom: 0;
    }

    .form-control {
      background-color: $light;
      border: 2px solid $light;
      &:focus {
        box-shadow: none;
        border-width: 2px;
        border-color: $primary;
        background-color: $light;
      }
    }
  }

  .input-group {
    .form-label {
      margin-bottom: 0;
    }

    .form-control {
      background-color: $light;
      border: 2px solid $light;
      &:focus {
        box-shadow: none;
        border-width: 2px;
        border-color: $primary;
        background-color: $light;
      }
    }

    .input-group-append,
    .input-group-prepend {
      .input-group-text {
        background-color: $light;
        border-top: 2px solid $light;
        border-bottom: 2px solid $light;
      }
    }
  }

  .modal .modal-content {
    border-radius: 5px;
    .modal-header {
      border-bottom: 1px solid #ededed;
      .modal-title {
        font-weight: bold;
      }
    }

    .modal-footer {
      border-top: 1px solid #ededed;
    }
  }

  .table {
    margin-bottom: 0;
    &.no-wrap {
      white-space: nowrap !important;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
